<%- include('./partials/header') %>

<link rel="stylesheet" href="/stylesheets/whatWeDo.css">
<title>Phoenix Foundation - What We Do</title>

<%- include('./partials/navbar') %>

<!-- Projects -->
<div id="projects-area">
    <h2 id="page-title">Our Projects</h2>
    <div id="projects">
        <!-- Show off each project in their own little box -->
        <% for (let i = 0; i < projects.length; i++) { %>
            <a class="project" href=<%= `/projects/${projects[i]._id}` %>>
                <div>
                    <h2><%= projects[i].projectName %></h2>
                    <img src=<%= `data:${projects[i].img.contentType};base64,${projects[i].img.imgData}` %> >
                    <h3>Description</h3>
                    <p><%= projects[i].description %></p>
                </div>
            </a>
        <% } %>
    </div>
</div>

 <%- include('./partials/footer') %>